[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
scrapy-redis = "*"
pymongo = "*"
redis = "*"
pandas = "*"
"bs4" = "*"
pyspider = "*"
pycrypto = "*"

[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.6"
